<% include ./partials/header %>

<div class="well">
  <div class="container">
    <h1><i class="fas fa-qrcode"></i> My Codes</h1>
    <form class="code-search-form" action="/codes/search" method="GET">
      <input type='text' name='search' placeholder="Search my codes">
      <button type="submit"><i class="fas fa-search"></i></button>
    </form>
    <hr>
    <div class="codes-options-container">
      <div class="new-code-options">
        <a href="/codes/new"><i class="fas fa-plus"></i> New Code</a>
        <a href="/codes/upload"><i class="fas fa-upload"></i> Upload Code</a>
      </div>
      <div class="code-sort">
        <p>Sort by:</p>
        <a class="sort-all">All</a>
        <a class="sort-fav">Favorites</a>
      </div>
    </div>
  </div>
</div>

<div class="code-grid">
  <% if(codes) { %>
    <% codes.forEach(code => { %>
      <div class="code-thumbnail" data-fav="<%= code.favorite %>">
        <img src="data:image/png;base64, <%= code.png %>" alt="qr-code">
        <div class="code-thumbnail-caption">
          <p class="code-thumbnail-title"><%= code.title %></p>
        </div>
        <p>
          <a class="view-code" href="/codes/<%= code._id %>">View Code</a>
        </p>
      </div>
    <% }); %>
  <% } %>
</div>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

<script src="/src/codes.js"></script>

<% include ./partials/footer %>