<% include ./partials/header %>

<h1>codes</h1>
<a href="/codes/new">New Code</a>
<a href="/codes/upload">Upload Code</a>

<div class="code-grid">
  <% if(codes) { %>
    <% codes.forEach(code => { %>
      <div class="code-thumbnail">
        <%- code.svg %>
        <p><%= code.title %></p>
        <a href="/codes/<%= code._id %>">View Code</a>
      </div>
    <% }); %>
  <% } %>
</div>

<% include ./partials/footer %>