<% include ./partials/header %>

<div class="landing">
  <div class="landing-inner">
    <h1>myQR</h1>
    <p>A simple, minimalist QR Code manager</p>
    <a class="button" href="/users/register">Get Started</a>
  </div>
</div>

<% include ./partials/footer %>