<% include ./partials/header %>
<% include ./partials/navigation %>

<div class="user-form">
  <h1>Login</h1>
  <form id="login-form" action="/users/login" method="POST">
    <label>username</label>
    <input id="input-username" type="text" name="username">
    <label>password</label>
    <input id="input-password" type="password" name="password">
    <button type="submit">login</button>
  </form>
</div>

<% include ./partials/footer %>