<% include ./partials/header %>

<div class="code-form">
  <h1>New Code</h1>
  <form action="/codes" method="POST">
    <label>Code Title</label>
    <input type="text" name="title" placeholder="title">
    <label>Code Text</label>
    <textarea name="text" placeholder="Code Text"></textarea>
    <button type="submit">Create</button>
  </form>
</div>

<% include ./partials/footer %>