<% include ./partials/header %>

<div class="new-form">
  <h1>New Code</h1>
  <form action="/codes" method="POST">
    <div class="form-group">
      <label>Code Title</label>
      <input type="text" name="title" placeholder="Code Title">
    </div>
    <div class="form-group">
        <label>Code Description</label>
        <textarea name="description" placeholder="Code Description"></textarea>
    </div>
    <div class="form-group">
      <label>Code Text</label>
      <textarea name="text" placeholder="Encoded Text"></textarea>
    </div>
    <div class="new-form-button">
      <button type="submit">Create</button>
    </div>
    <p class="back-to-codes"><a href="/codes">Back to Codes</a></p>
  </form>
</div>

<% include ./partials/footer %>