<% include ./partials/header %>
<div class="message-container"><div class="success" role="alert"><p class="alert-message"><%= msg %></p></div></div>
<div class="new-form">
    <h1>New Code</h1>
    <form action="/codes" method="POST">
      <div class="form-group">
        <label>Code Title</label>
        <input type="text" name="title" placeholder="Code Title">
      </div>
      <div class="form-group">
        <label>Code Text</label>
        <textarea name="text" placeholder="Encoded Text"><%= text %></textarea>
      </div>
      <div class="new-form-button">
        <button type="submit">Create</button>
      </div>
    </form>
  </div>

<% include ./partials/footer %>