<% include ./partials/header %>

<div class="upload-form-container">
  <h1>Upload QR Code</h1>
  <form action="/codes/upload" method="POST" enctype="multipart/form-data" class="upload-form">
    <div class="upload-form-group">
        <label>Select QR Code image to upload</label>
        <input type="file" name="upload" accept="image/*">
    </div>
    <button type="submit">Upload</button>
  </form>
  <p class="back-to-codes"><a href="/codes">Back to Codes</a></p>
</div>

<% include ./partials/footer %>