*  {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #333333;
}

/* ----------Navbar Styling---------- */
.navbar {
  width: 100%;
  color: #fff;
  background-color: rgb(51, 51 ,51);
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.nav-title p {
  margin: 0;
  font-size: 25px;
}

.navlinks {
  color: #fff;
  margin: 0;
  text-align: right;
  padding-right: 60px;
}

.navlinks li {
  font-size: 20px;
  margin-top: 0px;
  list-style-type: none;
  display: inline-block;
}

.navlinks a {
  text-decoration: none;
  color: #fff;
  margin-right: 10px;
}

.navlinks a:visited {
  color: #fff;
}

.navlinks a:hover {
  color: #777;
}

.signed-in-user {
  text-decoration: none;
  color: #fff;
  margin-right: 20px;
}

.nav-items-resp {
  display: none;
}

/* ----------Codes Page Styling---------- */
.well {
  margin-top: 0;
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 15px;
  padding-left: 60px;
  padding-right: 60px;
}

.container {
  background-color: #eee;
  border-radius: 6px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 40px;
  padding-bottom: 40px;
  height: 280px;
}

.container h1 {
  font-size: 3.75em;
  margin-top: 20px;
  margin-bottom: 20px;
}

.code-search-form {
  width: 200px;
  display: inline-block;
  margin-bottom: 20px;
}

.code-search-form input {
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 4px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  height: 30px;
  width: 85%;
  font-size: 14px;
  color: #555;
  float: left;
  padding-left: 10px;
}

.code-search-form button {
  float: left;
  width: 15%;
  background: rgb(51, 51 ,51);
  color: #fff;
  font-size: 14px;
  border: 1px solid #ccc;
  border-left: none;
  cursor: pointer;
  border-radius: 4px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  outline: none;
  height: 30px;
}

.container hr {
  margin-top: 0px;
  border: 0px;
  border-top: 1px solid #d5d5d5;
  margin-bottom: 20px;
}

.container a {
  color: #337ab7;
  text-decoration: none;
  margin-right: 10px;
}

.container a:visited {
  color: #337ab7;
}

.code-thumbnail {
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .16), 0 0 0 1px rgba(0, 0, 0, .08);
  text-align: center;
  padding: 0;
}

.code-thumbnail img {
  width: 200px;
}

.code-thumbnail-caption {
  border-top: 2px solid rgba(0, 0, 0, .08);
  color: #333;
  font-size: 20px;
}

.code-thumbnail-caption p {
  margin-top: 10px;
}

.code-grid {
  padding-top: 20px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2em;
}

.view-code {
  background-color: rgb(51, 51 ,51);
  color: #fff;
  text-decoration: none;
  padding: 5px;
  border-radius: 4px;
}

.view-code a:visited {
  color: #fff;
}

.codes-options-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.code-sort p {
  display: inline;
  margin-right: 10px;
}

.code-sort {
  text-align: right;
}

.code-sort a {
  cursor: pointer;
}

.sort-select {
  text-decoration: underline !important;
}

/* ----------Message Styling---------- */
.message-container {
  margin-top: 70px;
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 10px;
}

.error {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  height: 50px;
}

.success {
  color: #155724;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  border-radius: 4px;
  height: 50px;
}

.alert-message {
  padding-left: 15px;
}

/* ----------Form Styling---------- */
.user-form {
  margin-top: 70px;
  font-size: 1.25em;
}

.user-form h1 {
  text-align: center;
}

.form-group {
  width: 350px;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  height: 35px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: .75em;
  padding: 10px;
}

.form-group textarea {
  padding: 10px;
}

.user-form button {
  margin-top: 5px;
  color: #fff;
  background-color: rgb(51, 51 ,51);
  width: 350px;
  padding: 10px;
  font-size: 1.25em;
  border-radius: 4px;
}

.user-form-button {
  text-align: center;
}

.user-q {
  text-align: center;
}

.user-q a {
  text-decoration: none;
  color: #337ab7;
  cursor: pointer;
}

.user-q a:visited {
  color: #337ab7;
}

.demo {
  text-align: center;
}

.demo span {
  text-decoration: none;
  color: #337ab7;
  cursor: pointer;
}

.demo-user-info {
  display: none;
}

.new-form h1 {
  text-align: center;
}

.new-form input {
  font-size: .75em;
}

.new-form textarea {
  width: 100%;
  height: 75px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: .75em;
}

.new-form button {
  margin-top: 5px;
  color: #fff;
  background-color: rgb(51, 51 ,51);
  width: 350px;
  padding: 10px;
  font-size: 1.25em;
  border-radius: 4px;
}

.new-form-button {
  text-align: center;
}

.upload-form-container {
  text-align: center;
}

.upload-form-group label {
  display: block;
  font-size: 1.25em;
  margin-bottom: 15px;
}

.upload-form-group input {
  font-size: 1em;
  display: block;
  margin: 0 auto;
  padding-left: 100px;
}

.upload-form-container button {
  margin-top: 5px;
  color: #fff;
  background-color: rgb(51, 51 ,51);
  width: 350px;
  padding: 10px;
  font-size: 1.25em;
  border-radius: 4px;
}

.code-edit-form h1 {
  text-align: center;
}

.code-edit-form textarea {
  width: 100%;
  height: 75px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: .75em;
}

.code-edit-form button {
  margin-top: 5px;
  color: #fff;
  background-color: rgb(51, 51 ,51);
  width: 350px;
  padding: 10px;
  font-size: 1.25em;
  border-radius: 4px;
}

.edit-form-button {
  text-align: center;
}

.back-to-codes {
  text-align: center;
}

.back-to-codes a {
  color: #337ab7;
  text-decoration: none;
}

.back-to-codes a:visited {
  color: #337ab7;
}

/* ----------Code Page Styling----------*/  

.code-page {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 3em;
  padding-left: 60px;
  padding-right: 60px;
}

.code-options {
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px;
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .16), 0 0 0 1px rgba(0, 0, 0, .08);
  text-align: center;
  padding-top: 15px;
}

.code-options p {
  font-size: 1.5em;
  margin: 0 auto;
}

.option {
  margin-bottom: 10px;
}

.code-options a {
  text-decoration: none;
  display: block;
}

.codes-back {
  background-color: rgb(51, 51 ,51);
  padding: .375rem .75rem;
  font-size: 1rem;
  color: #fff;
  border-radius: .25rem;
  width: 70%;
  text-align: center;
  margin: 0 auto;
}

.code-favorite {
  background-color: #28a745;
  padding: .375rem .75rem;
  font-size: 1rem;
  color: #fff;
  border-radius: .25rem;
  width: 70%;
}

.code-edit {
  background-color: #ffc107;
  padding: .375rem .75rem;
  font-size: 1rem;
  color: #fff;
  border-radius: .25rem;
  width: 70%;
  text-align: center;
  margin: 0 auto;
}

.code-download {
  background-color: #007bff;
  padding: .375rem .75rem;
  font-size: 1rem;
  color: #fff;
  border-radius: .25rem;
  width: 70%;
  text-align: center;
  margin: 0 auto;
}

.code-share-page {
  background-color: #6c757d;
  padding: .375rem .75rem;
  font-size: 1rem;
  color: #fff;
  border-radius: .25rem;
  width: 70%;
  text-align: center;
  margin: 0 auto;
}

.code-email {
  background-color: #17a2b8;
  padding: .375rem .75rem;
  font-size: 1rem;
  color: #fff;
  border-radius: .25rem;
  width: 70%;
  text-align: center;
  margin: 0 auto;
}

.code-tweet {
  background-color: #1b95e0;
  padding: .375rem .75rem;
  font-size: 1rem;
  color: #fff;
  border-radius: .25rem;
  width: 70%;
  text-align: center;
  margin: 0 auto;
}

.code-delete {
  background-color: #dc3545;
  padding: .375rem .75rem;
  font-size: 1rem;
  color: #fff;
  border-radius: .25rem;
  width: 70%;
}

.code-delete-form {
  text-align: center;
}

.code-container {
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .16), 0 0 0 1px rgba(0, 0, 0, .08);
  padding: 0;
  text-align: center;
}

.code-options button {
  border: 0;
}

.code-container img {
  width: 300px;
}

.code-container-caption {
  border-top: 2px solid rgba(0, 0, 0, .08);
  color: #333;
  font-size: 20px;
}

.code-title {
  font-size: 2.5em;
}

.code-data-text {
  font-size: 1.5em
}

.code-link {
  display: none;
  font-size: 1em;
}

.code-link a {
  text-decoration: none;
  color: #337ab7;
}

.code-description-title {
  font-size: 1.25em;
  margin-bottom: 0;
}

.code-created-text {
  font-size: .75em;
}

/* ----------Share Page Styling----------*/
.share-grid {
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 60px;
  padding-right: 60px;
}

.code-share-container {
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .16), 0 0 0 1px rgba(0, 0, 0, .08);
  padding: 0;
  text-align: center;
}

.code-share-container-caption {
  border-top: 2px solid rgba(0, 0, 0, .08);
  color: #333;
  font-size: 20px;
}

/* ----------Landing Page Styling---------- */
.landing {
  text-align: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),url("https://www.jacoballred.com/wp-content/uploads/2014/12/example.png") no-repeat center center fixed; 
  background-size: cover;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.landing h1 {
  margin: 0;
  font-size: 7em;
  text-shadow: 1px 1px 2px #000000;
}

.landing p {
  font-size: 2em;
  text-shadow: 1px 1px 2px #000000;
}

.landing a {
  text-decoration: none;
  background-color: rgb(51, 51 ,51);
  width: 450px;
  padding: 10px;
  font-size: 1.25em;
  border-radius: 4px;
  color: #fff;
}

.landing a:visited {
  color: #fff;
}