*  {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0px;
  font-family: 'Roboto Condensed', sans-serif;
}

.navbar {
  width: 100%;
  border: 2px solid black;
}

.navlinks li {
  list-style-type: none;
  display: inline-block;
}

.landing {
  text-align: center;
}

.user-form {
  text-align: center;
}

.signed-in-user {
  text-decoration: none;
  color: black;
}

.code-thumbnail {
  border: 2px solid black;
  text-align: center;
  padding: 0;
}

.code-grid {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
}